body {
    background-color: transparent;
}
.nav-box {
    padding: 0 33px;
}
.navbar > .container.nav-box a {
    font-size: 13px;
    color: #fff;
}
.navbar-header {
    padding-right: 0px;
}
h1.logo {
    margin: 0;
}
.navbar-brand {
    padding: 0;
}
h1.logo > a{
    display: block;
    width: 130px;
    height: 0;
    padding-top: 39px;
    overflow: hidden;
    background-image: url('../img/weilai.png');

}
.navbar {
    height: 39px;
}
.navbar-nav {
    margin-top: 8px;
}
.nav-box > .collapse > ul > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
}
.dropdown-menu-operate {
    width: 96px;
}
.nav-box > .collapse > ul > li > a {
    border-right: 1px solid #C7C7C7;
}
@media screen and (max-width:991px){
    nav.container {
        width: 768px;
        padding: 0;
    }
}
@media screen and (max-width:767px){
    /* header start */
    nav.container {
        width: 100%;
    }
    .nav-box > .collapse > ul > li > a {
        border-right: none;
    }
    .navbar-collapse {
       float: none!important;
       background-color: rgba(0,0,0,0.7);
    }
    .nav-box {
        width: 100%;
        padding: 0;
    }
    .collapse > ul > li {
        padding: 5px 10px;
    }
    .collapse > ul > ul {
        margin-bottom: 5px;
    }
    .dropdown-menu > li > a {
        text-align: left;
    }
    /* header end */
}