* {
    font-family: "微软雅黑";
}
/* header start */
.header-iframe {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* header end */
/* screen01 start */
    .screen01 {
        margin-top: 39px;
        height: 476px;
        background: bisque;
    }
    .screen01-content,.screen03-content {
        width: 83%;
    }
    .screen01-lt {
        padding-top: 26px;
    }
    .screen01-lt > img:nth-child(1) {
        width: 88%;
    }
    .screen01-lt > img:nth-child(2) {
        width: 118%;
        padding-left: 17px;
        padding-top: 7px;
    }
    .screen01-rt > img {
        width: 76.5%;
        padding-top: 147px;
        margin-left: -40px;
    }
/* screen01 end */
/* screen02 start */
    .screen02,.screen04,.screen06 {
        position: relative;
        width: 100%;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
    }
    .screen02 {
        height: 570px;
        margin-top: 160px;
        background-image: url(../img/realty-template-screen02-bg.jpg);
    }
/* screen02 end */
/* screen03 start */
    .screen03-lt > img {
        width: 92%;
        margin-top: -240px;
    }
    .screen03-rt > img:first-child {
        width: 100%;
        margin-top: 40px;
        margin-left: -50px;
    }
    .screen03-rt > img:nth-child(2) {
        width: 100%;
        margin-bottom: 40px;
    }
/* screen03 end */
/* screen04 start */
    .screen04 {
        height: 450px;
        background-image: url(../img/realty-template-screen04-bg.jpg);
    }
/* screen04 end */
/* screen05 start */
    .screen05-box > img {
        width: 80%;
    }
    .screen05-box > img:first-child{
        margin-top: -50px;
    }
    .screen05-box > img:nth-child(2) {
        width: 87.1%;
        position: relative;
        left: -18px;
    }
/* screen05 end */
/* screen06 start */
    .screen06 {
        height: 623px;
        background-image: url(../img/realty-template-screen06-bg.jpg);
    }
/* screen06 end */
/* screen07 start */
    .screen07-box > img:first-child {
        width: 47%;
        margin-top: 50px;
    }
    .screen07-box > img:nth-child(2) {
        width: 69%;
    }
    .screen07-box > img:last-child {
        width: 47%;
        margin-bottom: 50px;
    }
/* screen07 end */
@media (max-width:1200px){
   .screen01 {
        height: 413px;
    }
    .screen02 {
        height: 470px;
        margin-top: 100px;
    }
    .screen03-lt > img {
        margin-top: -180px;
    }
    .screen05-box > img:first-child{
        margin-top: -35px;
        margin-left: -6px;
    }
    .screen06 {
        height: 523px;
    }
    .screen07-box > img:last-child {

    }
}
@media (max-width:992px){
   .screen01 {
        height: 309px;
    }
    .screen01-lt > img:nth-child(2) {
        width: 120%;
        padding-left: 7px;
    }
    .screen01-rt > img {
        padding-top: 107px;
    }
    .screen02 {
        height: 450px;
        margin-top: 93px;
    }
    .screen03-lt > img {
        margin-top: -130px;
    }
    .screen05-box > img:first-child{
        margin-top: -30px;
        margin-left: -15px;
    }
    .screen06 {
        height: 503px;
    }
}
@media (max-width:768px){
    .container {
        width: 750px;
    }
}