html {
    font-size: 12px;
}
body {
    color: #fff;
    font-family: '微软雅黑';
    font-size: 12px;
}
* {
    font-style: normal;
}
nav {
    width: 100%;
    background-color: #535353;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    z-index: 99;
}
nav > a > img{
    display: inline-block;
    width: 83px;
    width: 6.916em;
    max-width: 110.64px;
}
.content {
    background: url('../img/index-bg.jpg') center no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-top: 4.166em;
}
.logo {
    margin-top: 10px;
    margin-top: 0.833em;
    width: 110px;
    width: 9.166em;
}
.content > h2 {
    font-size: 2.5em;
    margin-top: 14px;
    margin-top: 0.466em;
}
.content > h2 > i{
    display: inline-block;
    padding: 3px 11px;
    padding: 0.1em 0.366em;
    border: 2px solid #fff;
    border-radius: 14px;
    border-radius: 0.466em;
    font-style: normal;
    background-color: #e35b69;
}
.content > h2 > img{
    width: 91%;
    width: 9.733em;
    margin-top: 15px;
    margin-top: 0.5em;
}
.bar {
    font-size: 17px;
    font-size: 1.416em;
    line-height: 17px;
    line-height: 1em;
    margin-top: 25px;
    margin-top: 1.47em;
    margin-bottom: 3px;
    margin-bottom: 0.176em;
    overflow: hidden;
}
.bar > p {
    padding: 7px 0px;
    padding: 0.411em 0;
    float: left;
}
.bar > div:first-child {
    background: url('../img/index-bg-bar01.png') no-repeat;
    background-size: 100% 100%;
    padding-right: 0.882em;
}
.bar > div:first-child > p,.bar > div:last-child > p {
    font-size: 17px;
    font-size: 1em;
    margin-top: 6px;
    margin-top: 0.353em;
    margin-bottom: 6px;
    margin-bottom: 0.353em;
}
.bar > div:last-child {
    background: url('../img/index-bg-bar02.png') no-repeat;
    background-size: 100% 100%;
    padding-left: 0.882em;
}
.content > p:nth-of-type(1) {
    color: #d1d95d;
    font-size: 19px;
    font-size: 1.583em;
    letter-spacing: 4px;
    letter-spacing: 0.333em;
}
.content-6 {
    width: 48%;
    width: 12.799em;
    overflow: hidden;
}
.content-6-icon1,.content-6-icon2 {
    width: 49.5%;
    width: 6.335em;
    float: left;
}
.content-6-icon1 > div {
    overflow: hidden;
    margin-right: 20%;
    margin-right: 1.25em;
}
.content-6-icon2 > div {
    width: 56px;
    width: 4.666em;
    margin-left: 20%;
    margin-left: 1.333em;
}
.tow-icon-line {
    height: 80px;
    height: 6.666em;
    float: left;
    border-right: 1px solid #fff;
}
.icon-personal {
    font-size: 35px;
    font-size: 2.916em;
}
.content-nav {
    width: 283px;
    width: 23.583em;
    font-size: 12px;
    font-size: 1em;
    overflow: hidden;
    margin-top: 51px;
    margin-top: 4.25em;
    margin-bottom: 30px;
    margin-bottom: 2.5em;
}
.content-nav > li {
    width: 67px;
    width: 5.583em;
    height: 6.083em;
    border-radius: 25%;
    padding-top: 8px;
    padding-top: 0.666em;
    float: left;
}
.content-nav > li + li {
    margin-left: 5px;
    margin-left: 0.416em;
}
.content-nav > li:nth-of-type(1) {
    background-color: #ffef00;
}
.content-nav > li:nth-of-type(2) {
    background-color: #ff9900;
}
.content-nav > li:nth-of-type(3) {
    background-color: #cf0cff;
}
.content-nav > li:nth-of-type(4) {
    background-color: #3299ff;
}
.content-nav > li > a {
    color: #fff;
}
.content-nav > li > a > i:first-child {
    font-size: 20px;
    font-size: 1.666em;
    line-height: 30px;
    line-height: 1.5em;
}
.content-nav2 {
    /* width: 228px;
    width: 19em; */
    overflow: hidden;
    text-align: center;
}
.content-nav2 > li {
    /* float: left; */
    /* padding-left: 3px; */
    /* padding-left: 0.25em; */
    /* padding-right: 3px; */
    /* padding-right: 0.25em; */
    margin-bottom: 99px;
    margin-bottom: 8.25em;
}
.content-nav2 > li + li {
    border-left: 1px dashed #fff;
}
.content-nav2 > li > a {
    color: #fff;
}
.content > p:nth-of-type(2) {
    margin: 0;
    padding-bottom: 10px;
    padding-bottom: 0.833em;
}
.userInfo-box {
    background-color: #535353;
    padding-top: 5px;
    padding-top: 0.416em;
    padding-bottom: 44px;
    padding-bottom: 3.666em;
}
/* .userInfo-box .col-xs-6{
    font-size: 12.083em;
}
.userInfo-box .col-xs-12{
    font-size: 24.166em;
} */
.form-group1 {
    padding: 5px 2px;
    padding: 0.416em 0.166em;
}
.form-control {
    font-size: 1.166em;
    border-radius: 2px;
    border-radius: 0.143em;
    height: 28px;
    height: 2em;
    padding: 0.428em 0.857em;
}
.selects {
    width: 100%;
    border-radius: 2px;
    border-radius: 0.166em;
    height: 28px;
    height: 2.333em;
    color: #989797;
    padding-left: 8px;
    padding-left: 0.666em;
}
textarea {
    resize: none;
}
.btn-primary {
    background-color: #19b3e1;
}
.selects > option:first-child {
    color: #555;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 18px;
    font-size: 1.5em;
    padding: 10px 16px;
    padding: 0.555em 0.888em;
    border-radius: 6px;
    border-radius: 0.333em;
}
footer {
    background-color: #535353;
    color: #fff;
}
footer a{
    color: #fff;
}
.footer-i {
    font-size: 25px;
    font-size: 2.083em;
}
@media screen and (min-width:480px){
   .footer-i {
        font-size: 33.083px;
    }
    footer > p {
        font-size: 21.328px;
        padding-top: 14px;
    }
}
footer > p {
    display: inline-block;
    font-size: 16px;
    font-size: 1.333em;
    padding-top: 10px;
    padding-top: 0.625em;
}
